@mixin cards-animation ($delay, $duration, $name) {
    animation: $duration $delay $name ease-in-out backwards;
}

.movie-card__container {
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: flex;
    gap: 15px;
    height: 100%;
    justify-content: flex-start;
    max-height: 146px;
    max-width: 220px;
    min-height: 105px;
    opacity: 1;
    overflow: hidden;
    padding: 10px;
    position: relative;
    transition: 300ms ease-in-out transform;
    width: 220px;

    

    h3 {
        font-weight: 300;
        display: block;
        position: relative;
        text-align: left;
        transition: 300ms ease all;
        transform: translateX(50%);
        z-index: 2;

        span {
            display: inline-block;
            transform: translateX(-50%);
            transition: 300ms ease all;
        }
    }

    &::after, &::before {
        background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
        bottom: -1px;
        content: '';
        left: -1px;
        position: absolute;
        right: -1px;
        top: -1px;
        transition: 300ms ease background;
        z-index: 1;
    }

    &::before {
        background: none;
    }

    &:hover {
        transform: scale(1.05);

        .movie-card__play-icon {
            height: 24px;
            left: 0;
            margin-left: 10px;
            padding-top: 1px;
            transition: 300ms ease-in-out all;
            width: 24px;
            
            ion-icon {
                height: 12px;
                width: 12px;
            }
        }

        .movie-card__title-container {
            bottom: 0;
            height: calc(50% + 11.5px);
            left: 55px;

            transition: 300ms 100ms ease-in-out all;
        }

        h3 {
            transform: translateX(0%);
            transition: 300ms 100ms ease-in-out all;

            span {
                transform: translateX(0%);
                transition: 300ms 100ms ease-in-out all;
        }
        }
    
        &::before {
            background: transparentize($color: $dark-primary, $amount: 0.3);
        }

        footer {
            opacity: 1;

            .movie-card__rating, .movie-card__year {
                opacity: 1;
            }
        }
    }

    footer {
        align-items: center;
        bottom: 10px;
        display: flex;
        font-size: 14px;
        font-weight: 300;
        justify-content: space-between;
        left: 0;
        opacity: 0;
        padding: 0 20px;
        position: absolute;
        transition: 300ms ease-in-out all;
        width: 100%;
        z-index: 2;

        .movie-card__rating, .movie-card__year {
            opacity: 0;
            transition: 500ms 500ms ease all;
        }

        .movie-card__rating {
            align-items: center;
            display: flex;
            gap: 3px;
            transition: 500ms 300ms ease all;

            span {
                color: $primary;
                font-size: 0.6rem;
            }
        }
    }
}

.movie-card__title-container {
    bottom: 10px;
    height: 23px;
    left: 0;
    position: absolute;
    transition: 300ms ease all;
    width: 100%;
}

.movie-card__play-icon {
    align-items: center;
    background-color: transparentize($color: $dark-primary, $amount: 0.5);
    border: 1px $white solid;
    border-radius: 100px;
    color: $white;
    display: flex;
    height: 40px;
    justify-content: center;
    left: 39%;
    padding-top: 3px;
    position: relative;
    right: 0;
    transition: 300ms 100ms ease-in-out all;
    width: 40px;
    z-index: 2;

    ion-icon {
        height: 20px;
        left: 1px;
        position: relative;
        transition: 300ms 100ms ease all;
        width: 20px;

    }

    .movie-card__filled-icon {
        color: $black;
        opacity: 0;
        position: fixed;
        transition: 300ms 100ms ease opacity;
    }

    .movie-card__outline-icon {
        opacity: 1;
        position: initial;
        transition: 300ms 100ms ease opacity;
    }


    &:hover {
        background-color: $primary;
        border: 1px $black solid;

        ion-icon {
            margin: auto;
            transition: 300ms ease all;
        }
        
        .movie-card__outline-icon {
            opacity: 0;
            position: fixed;
            transition: 300ms ease opacity;
        }

        .movie-card__filled-icon {
            opacity: 1;
            position: initial;
            transition: 300ms ease opacity;
        }
    }
}

.movie-card__container-0 {
    @include cards-animation(2s, 600ms, fadedown);
}

.movie-card__container-1 {
    @include cards-animation(2.3s, 700ms, faderight);
}

.movie-card__container-2 {
    @include cards-animation(2.6s, 800ms, fadeleft);
}

.movie-card__container-3 {
    @include cards-animation(3s, 1s, fadeup);
}

.movie-card__container-fast-0 {
    @include cards-animation(0s, 600ms, fadein);
}

.movie-card__container-fast-1 {
    @include cards-animation(0.3s, 600ms, fadein);
}

.movie-card__container-fast-2 {
    @include cards-animation(0.6s, 600ms, fadein);
}

.movie-card__container-fast-3 {
    @include cards-animation(1s, 600ms, fadein);
}

@media (max-width: $sm) {

    .movie-card__container {
        height: 194px;
        max-width: 350px;
        width: 100%;
    }

    .movie-card__play-icon {
        left: 43%;
    }
}